<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <!-- <img src="/assets/images/ciss_logo.png" height="28"> -->
            <h4><b>CISS GIS</b></h4>
        </a>
    
        <button class="button navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item">Home</a>
            </div>

        </div>
    </div>
</nav>
<div class="columns is-fullheight">
    <div class="column is-two-thirds">
        <agm-map 
            [latitude]="lat" 
            [longitude]="lng" 
            [zoom]="zoom" 
            (mapClick)="onChoseLocation($event)" >

            <!-- <agm-snazzy-info-window [isOpen]="true" [latitude]="-25.274449" [longitude]="133.775060" [closeWhenOthersOpen]="true">
                <ng-template>
                  My first Snazzy Info Window!
                </ng-template>
              </agm-snazzy-info-window> -->

            <agm-data-layer
                #agmDataLayer
                [geoJson]="geoJson"
                (layerClick)="clicked($event)"
                [style]="styleFunc"></agm-data-layer>

            <agm-marker  
                *ngFor="let marker of markers"
                [latitude]="marker.lat" 
                [longitude]="marker.lng">        
            </agm-marker>

            <agm-polygon *ngFor="let p of arr_of_paths" [paths]="p">
                <agm-info-window [disableAutoPan]="true">
                    Hi, this is the content of the <strong>info window</strong>
                </agm-info-window>
            </agm-polygon>
        </agm-map>
    </div>
    <div class="column">
        <router-outlet></router-outlet>
    </div>
</div>
